nav
{
  height: auto;
  width: 100%;
  background-color: #565555;
  text-align: center;
  position: fixed;
  z-index: 2;
}
li a{
  text-decoration: none;
  color: white;
  margin: 25px;
  display: inline-block;
  list-style: none;
}
li a:hover{
  color: #987554;
  transition: ease-in .3s;

}
